@{
    ViewData["Title"] = "M칩dulo de Administrador";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"] Hilario</h1>
</div>

<section id="letra">
    <p>Esta p치gina solo es visible para el Administrador</p>
    Ejemplo es una secci칩n para los m칩dulos del Administrador
    <p><b>Insertar Producto</b></p>
    <p><b>Actualizar Producto</b></p>
    <p><b>Eliminar Producto</b></p>
    <p><b>Listar Productos</b></p>
    <p><b>Buscar Productos</b></p>
    <p><b>Registrar Venta</b></p>
    <p><b>Historial de Ventas</b></p>
</section>