@{
    ViewData["Title"] = "Módulo de Cliente";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"] Hilario</h1>
</div>

<section id="letra">
    <p>Esta página solo es visible para el Cliente</p>
    Ejemplo es una sección para los módulos del Cliente
    <p><b>Ver Catálogo</b></p>
    <p><b>Ver Historial de Compras</b></p>
    <p><b>Ver Pedidos de Compra</b></p>
</section>