@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/iniciarSesion.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
</head>
<body>
    <div class="login-page">
        <div class="class-form">
            <form action="" class="login-form">
                <label>Usuario</label>
                <input id="txtDNI" type="text" placeholder="Ingrese su DNI" />
                <label>Contraseña</label>
                <input id="txtContrasena" type="text" placeholder="Ingrese su contraseña" />
                <button class="btn-info" type="button" id="btnEntrar">Entrar</button>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/iniciarSesion0.js"></script>
</body>
</html>